spring:
  application:
    name: movies-select-backend

  datasource:
    url: jdbc:postgresql://localhost:5432/movies_select_db
    username: postgres
    password: password
    external-api-token: ${SPRING_EXTERNAL_API_TOKEN}
    external-api-url: ${SPRING_EXTERNAL_API_URL}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  mvc:
    servlet:
      path: /api
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER

server:
  port: 8080
  error:
    include-message: always

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace

jwt:
  public:
    key: classpath:authz.pub
  private:
    key: classpath:authz.pem